/* Fetchdata.css */

.fetchdata-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  }
  
  .fetchdata-title {
    
    font-size: 24px;
    margin-bottom: 20px;
  }

  .fetchdata-title SearchBar {

    color: black;
  }
  
  
  .checkbox-list ul {
    list-style-type: none;
    padding: 0;
    
  }
  
  .checkbox-list li {
    margin-bottom: 10px;
    ;
  }
  
  .checkbox-list label {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .checkbox-list input[type="checkbox"] {
    margin-right: 10px;
  }
  
  .show-button {
    background-color: #007bff;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .show-button:hover {
    background-color: #0056b3;
  }
  
  .checkbox-options label {
    
    display: block;
    margin-bottom: 10px;
  }
  
  .selected-users {
    margin-top: 20px;
    color: black;
  }

  .selected-users EmailSender {
    
    color: black;
  }

  .select-color{
    color: black;
  }
  
  
  /* Add more styling as needed */
  